body {
  background: $bgColor;
}

* {
  box-sizing: border-box !important;
  text-decoration: none !important;
  font-family: "Poppins";
  vertical-align: baseline;
  list-style: none !important;
}

h3 {
  color: rgba(0, 212, 255, 1);
}

.disabled-link {
  pointer-events: none;
}
