.loader {
  border: 5px solid $bgColor;
  border-top: 5px solid $color;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin-loader 2s linear infinite;
}
@keyframes spin-loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
